@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

body{
    background: #eee;
    font-family: Source Sans Pro;
}

.newspaper-container{
    width: 700px;
    border-radius: 15px;
    background: white;
    padding: 15px;
    box-shadow: 1px 1px 10px gray;
    margin: 30px auto;
}

main{
    border-bottom: 2px #eee solid;
    background-color: white;
}

.more-articles> section{
    display: inline-block;
    width: 345px;
}

h1{
    text-align: center;
    font-family: Abril Fatface;
    font-size: 3em;
}

h2{
    font-family: Roboto Slab;
}

h4{
    font-family: Roboto Slab;
}

h5{
    font-family: Abril Fatface;
    color: red;
}

ul{
    padding-left: 0;
}

li{
    display: inline;
    margin: 0 5px;
}

a{
    text-decoration: none;
    color: #777;
}

nav{
    text-align: center;
    background: white;
    border-top: 1px solid #e3e1e1;
    border-bottom: 1px solid #e3e1e1;
    position: sticky;
    top: 0px;
}

p{
    text-align: justify;
    padding: 0px 16px;
}

img {
    display: block;
    margin: 0 auto;
}


/*
body{
    background-color: #eee;
    box-shadow: 20px 20px 20px 20px #ddd;
    margin: auto;
    width: 700px;
    border-radius: 15px;
    padding: 15px;
    
}

h1 {
    text-align: center;
    font-family: Abril Fatface;
    font-size: 4em;
}

h2{
    font-family: Roboto Slab;
}

h5{
    font-family: Abril Fatface;
    color: red;
}
nav{
    text-align: center;
}

li{
    display: inline-block;
    text-align: center;
}

a{
    text-decoration: none;
}

.more-articles{
    display: inline-block;
} */